# Ignore data files
data/*.csv
data/*.parquet
!data/dataset_small.csv

# Ignore Jupyter checkpoints
notebooks/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files (if you prefer)
.env
*.env
.venv